#info_1 {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-fill: #EAF3FF;
    -fx-padding: 4 0 0 0;
}

#info_2 {
    -fx-font-size: 13px;
    -fx-padding: 4 0 0 0;
}

#info_3 {
    -fx-font-size: 13px;
    -fx-padding: 6 0 0 0;
    -fx-fill: #EAF3FF;
}

#info_4 {
    -fx-font-size: 12px;
    -fx-padding: 6 0 0 0;
    -fx-fill: #C8D8EB;
}

#info_5 {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 8 0 0 0;
}
